* {
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header {
    max-width: 2000px;
    position: absolute;
    top: 10px;
    min-height: 70px;
    max-height: 200px;
    height: 10vh;
    width: 95%;

    &--body {
        position: relative;
        width: 100%;
        height: 100%;

        .backgroung {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: clamp(24px, 5vw, 70px);
            background-color: rgba(51, 51, 51, 0.9);
            backdrop-filter: blur(5px);
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            padding: 0px 30px;

            @media (max-width: 300px) {
                justify-content: center;

                a {
                    display: none;
                }
            }

            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            p {
                font-weight: 400;
                color: #fff;
                font-size: clamp(20px, 5vw, 30px);
            }

            a {
                font-weight: 200;
                text-decoration: none;
                color: #00e1ff;
                font-size: clamp(16px, 5vw, 26px);

                &:hover {
                    font-weight: 500;
                    color: #20b5c9;
                }
            }
        }
    }
}